{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tareas</h1>

            <ul class="list-group">
                {% for apy in Tareas %}
                <header class="d-flex justify-content-between">
                    <li class="list-group-item">{{apy.titulo}}</li>
                    <p>{{apy.user.username}}</p>
                </header>
                

                {% endfor %}
            </ul>

        </div>

    </div>

</main>

{% endblock %}